<!DOCTYPE html>
<html lang=en>
<header>
    <link rel="stylesheet" type="text/css" href="css/fooditem.css">
</header>    
<body>
    <div class="foodcard">
        <p class="foodname">Bread</p>
        <p class="quantity">x3</p>
        <button type="button" id="nutrition" class="nutritionbut" onclick="location.href='components/nutrition.html';">Nutrition Facts</button>
        <button type="button" id="consumedFood" class="consumedBut">Consumed</button>
        <button type="button" id="thrownFood" class="thrownBut">Thrown Away</button>
    </div>
</body>
