<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/additem.css">
    <script type='text/javascript' src='../node_modules\jquery\dist\jquery.js'> </script>
    <script>
        function yesForm() {
            document.item_form_part_one.action = "addolditem.html";
        }
    </script>
    <script>
        function noForm() {
            document.item_form_part_one.action = "addnewitem.html";
        }
    </script>

</head>

<body>
    <div class="topsection">
        <h1 id="additemtitle" class="header">Add Food</h1>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <img src="assets\foodventorylogo.png" alt="Fridge" class="Fridge">
    </div>
    <form name="item_form_part_one">
        <div>
            <p>Have you recorded this item before?</p>
        </div>
        <div>
            <button id="yes-before" type="submit" value="Yes" onclick="yesForm()">Yes</button>
        </div>
        <div>
            <button id="no-before" type="submit" value="No" onclick="noForm()">No</button>
        </div>
    </form>
</body>