<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/addItemForm.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">

    <script type='text/javascript' src="foodtypeselector"></script>

</head>

<!-- onload="getFoodType()" -->
<body>
    <div class="topnav">
        <a href="/inventory">Inventory</a>
        <a class="active" href="/additem">Add Item</a>
        <a href="/foodbytype">Data Analytics</a>
        <a id="logout" href="/">Logout</a>
    </div>
    <form action="/addnewitem/addnewitem" method="POST">
        <div class="container">
            <h2 class="section-title">General Item Information</h2>
            <label for="itemname"><b>Item Name</b></label>
            <input type="text" placeholder="Item Name" name="itemname" required>
            <label for="expiration"><b>Expiration Date</b></label>
            <input type="date" placeholder="Expiration Date" name="expiration" required>
            <label for="cost"><b>Cost</b></label>
            <input type="number" placeholder="Cost in USD" name="cost" required>
            <label for="storage"><b>Storage</b></label>
            <input type="text" placeholder="fridge" name="storage" required>
            <label for="foodtype"><b>Food Type</b></label>
            <select name="foodtype" id="foodtypes">
                <% typeData.forEach(function(typeData){ %>
                        <option><%= typeData.Category %></option>
                <% }) %>
            </select>

            <h2 class="section-title">Nutrition Facts</h2>
            <label for="fat"><b>Total Fat</b></label>
            <input type="number" placeholder="Total Fat" name="fat" required>
            <label for="servingsize"><b>Serving Size</b></label>
            <input type="number" placeholder="Serving Size" name="servingsize" required>
            <label for="calories"><b>Calories</b></label>
            <input type="number" placeholder="Calories" name="calories" required>
            <label for="sugar"><b>Sugar</b></label>
            <input type="number" placeholder="Sugar" name="sugar" required>
            <label for="totalcalories"><b>Total Calories</b></label>
            <input type="number" placeholder="Total Calories" name="totalcalories" required>
            <label for="sodium"><b>Sodium</b></label>
            <input type="number" placeholder="Sodium" name="sodium" required>
            <label for="protein"><b>Protein</b></label>
            <input type="number" placeholder="Protein" name="protein" required>

            <label for="quantity"><b>Quantity</b></label>
            <input type="number" min="1" step="1" value="1" name="quantity" required>


            <button type="submit">Add Item</button>
            <button type="button" id="cancel-id" class="cancel-but" onclick="location.href='inventory';">Cancel</button>

        </div>
    </form>
</body>