<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/addItemForm.css">
    <script type='text/javascript' src="foodtypeselector"></script>

</head>

<body>
    <form id="no-form" action="/addolditem/addolditem" method="POST">
        <div class="container">
            <h2 class="section-title">Select Item</h2>
            <select name="currentfooditems" id="currentfooditemsid">
                <% inventoryData.forEach(function(inventoryData){ %>
                    <option><%= inventoryData.name %></option>
                <% }) %>
            </select>

            <label for="quantity"><b>Quantity</b></label>
            <input type="number" min="1" step="1" value="1" name="quantity" required>

            <button type="submit">Add Item</button>
            <button type="button" id="cancel-id" class="cancel-but" onclick="location.href='/inventory';">Cancel</button>
        </div>
    </form>
</body>