<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../css/inventory.css">
    <link rel="stylesheet" type="text/css" href="../css/foodbytype.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">

    <!-- source: @https://www.anychart.com/blog/2017/12/06/pie-chart-create-javascript/ -->
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
    <script>
        function toggleReadMore() {
            var disp = document.getElementById("foodtype-list");
            if (disp.style.display !== "none") {
                disp.style.display = "none";
            } else {
                disp.style.display = "block";
            }
        }
    </script>
</head>

<body>

    <body>
        <div class="topnav">
            <a href="/inventory">Inventory</a>
            <a href="/additem">Add Item</a>
            <a class="active" href="/foodbytype">Data Analytics</a>
            <a href="/userprofile">User Profile</a>
            <a id="logout" href="/">Logout</a>
        </div>
        <div class="topsection">
            <h1 id="welcomeTitle" class="header">Food Breakdown</h1>
        </div>

        <div id="chart" ></div>
        <script>
            anychart.onDocumentReady(function () {

                var data = [
                    { x: "Baked", value: 4 },
                    { x: "Dairy", value: 5 },
                    { x: "Meat", value: 4 },
                    { x: "Fruit", value: 12 }
                ];

                var chart = anychart.pie();
                chart.title("Food breakdown");
                chart.data(data);
                chart.container('chart');
                chart.draw();
                chart.width = '1000px';
                chart.height = '1000px';



            });

        </script>

<div id="foodtype-buttons">
        <button id="bread-foodtype" class="foodtype" onclick="toggleReadMore()"> Baked </button>
        <button id="dairy-foodtype" class="foodtype" onclick="toggleReadMore()"> Dairy </button>
        <button id="meat-foodtype" class="foodtype" onclick="toggleReadMore()"> Meat </button>
        <button id="fruit-foodtype" class="foodtype" onclick="toggleReadMore()"> Fruit </button>
    </div>
        <span id="foodtype-list">
            <section class="inventory">
                <div class="scroll">
                    <div class="fooditem"></div>
                    <div class="fooditem"></div>
                    <div class="fooditem"></div>
                    <div class="fooditem"></div>
                    <div class="fooditem"></div>
                    <div class="fooditem"></div>
                </div>
                </div>
            </section>
        </span>
    </body>