<!-- Resources:
https://www.geeksforgeeks.org/making-a-div-vertically-scrollable-using-css/#:~:text=For%20vertical%20scrollable%20bar%20use,div%20will%20be%20vertically%20scrollable.
https://www.w3schools.com/howto/howto_css_searchbar.asp
 -->

<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/inventory.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/fooditem.css">

        <!-- @source: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/reduce -->
    <%    function groupBy(objectArray, property) {           %>
    <%        return objectArray.reduce(function (acc, obj) { %>
    <%          let key = obj[property]    %>
    <%            if (!acc[key]) {  %>
    <%            acc[key] = []  %>
    <%          }  %>
    <%        if (obj['Use_Time'] !== null  ){ %>
    <%          acc[key].push(obj);  %>
    <%        }  else {    %>
    <%          acc[key].unshift(obj);  %>
    <%        }   %>
    <%          return acc  %>
    <%        }, {})  %>
    <%      }  %>

</head>

<body>

    <div class="topnav">
        <a class="active" href="/inventory">Inventory</a>
        <a href="/additem">Add Item</a>
        <a href="/foodbytype">Data Analytics</a>
        <a href="/userprofile">User Profile</a>
        <a id="logout" href="/">Logout</a>
    </div>
    <h1 id="welcomeTitle" class="header">Welcome!</h1>

    <!-- <div class="topsection">
        <h1 id="welcomeTitle" class="header">Welcome!</h1>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div> -->
        <!-- <img src="assets\foodventorylogo.png" alt="Fridge" class="Fridge"> -->
    <!-- </div> -->
    <section class="inventory">
        <div class="bottomsection">
            <button id="add-btn" type="button" class="additem" onclick="location.href='/additem';">Add Item</button>

            <div id="inventory-list" class="scroll">
                <% var t = groupBy(result, 'name'); %>
                <% Object.keys(t).forEach( key => { %>
                <% if(t[key][0]['Use_Time'] === null) { %>
                     <div class="foodcard">
                        <p class="foodname"><%= key %></p>
                        <p class="quantity"><%= t[key].length %></p>
                        
                        <%var linkbldr = '/nutrition?nutrID=' + t[key][0].NutritionID %>
                        <form action=<%=linkbldr %> method="POST">
                        <button type="submit" id="nutrition" class="nutritionbut" >Nutrition Facts</button>
                        </form> 

                        <% var linkbldr = "/inventory/consume/" + t[key][0]['ItemID']; %>
                        <form action=<%= linkbldr %> method="POST">
                        <button type="submit" id="consumedFood" class="consumedBut">Consume</button>
                        </form>

                    </div>
                <% }}) %> 
            </div>

        </div>
    </section>
</body>