<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/userprofile.css"> -->

</head>

<body>
    <div class="topnav">
        <a href="/inventory">Inventory</a>
        <a href="/additem">Add Item</a>
        <a href="/foodbytype">Data Analytics</a>
        <a class="active" href="/userprofile">User Profile</a>
        <a id="logout" href="/">Logout</a>
    </div>

    Hello! I am user profile!

</body>