<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/userprofile.css"> -->

</head>

<body>
    <div class="topnav">
        <a href="/inventory">Inventory</a>
        <a href="/additem">Add Item</a>
        <a href="/foodbytype">Data Analytics</a>
        <a class="active" href="/userprofile">User Profile</a>
        <a id="logout" href="/">Logout</a>
    </div>
    
    <div class="container">
        <br><br><br>
        <b>Want to change your password?</b> <br>
        <br>Fill in the details, and you will be redirected to the login page on success!<br>
        <form action="/userprofile/userprofile" method="POST">
            <label for="emailC"><b>Email</b></label>
            <input type="text" placeholder="Type your email" name="emailC" required>
            <br><br>
            <label for="newpassword"><b>New Password</b></label>
            <input type="password" placeholder="Type the new password" name="newpassword" required>
            <br><br>
            <button type="submit">Change Password</button>

        </form>
    </div>

</body>