.foodtype{
    background-color: lightskyblue;
    border-radius: 1px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#foodtype-buttons {
    /* float: center; */
    float: center;
}

  div.foodcard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 6px;
}

#historytitle {
    text-align: center;
}