<!DOCTYPE html>
<html lang=en>
<header>
    <link rel="stylesheet" type="text/css" href="../css/nutrition.css">
</header>    
<body>
    <h2>Nutrition Facts About:</h2>
    <h4 id="food-name">Item Name</h4>
    <form name="update-form">
        <h2 class="section-title">General Item Information</h2>
        <label for="expiration"><b>Expiration Date</b></label>
        <input type="date" placeholder="Expiration" name="expiration">
        <p><b>Current Expiration Date:</b></p>
        <p id="item-exp">07/28/2000</p>

        <h2 class="section-title">Nutrition Facts</h2>
        <label for="fat"><b>Total Fat</b></label>
        <input id="item-fat" type="number" placeholder="10g" name="fat">
        <label for="serving-size"><b>Serving Size</b></label>
        <input id="item-serving-size" type="number" placeholder="2" name="serving-size">
        <label for="calories"><b>Calories</b></label>
        <input id="item-calories" type="number" placeholder="300" name="calories">
        <label for="sugar"><b>Sugar</b></label>
        <input id="item-sugar" type="number" placeholder="20g" name="sugar">
        <label for="total-calories"><b>Total Calories</b></label>
        <input id="item-total-calories" type="number" placeholder="1000" name="total-calories">
        <label for="sodium"><b>Sodium</b></label>
        <input id="item-sodium" type="number" placeholder="5g" name="sodium">
        <label for="protein"><b>Protein</b></label>
        <input id="item-protein" type="number" placeholder="20g" name="protein">

        <label for="quantity"><b>Quantity</b></label>
        <input id="item-quantity" type="number" min="1" step="1" value="20" name="quantity">

        <button type="submit">Save Changes</button>
        <button type="button" id="cancel-id" class="cancel-but" onclick="location.href='../html/inventory.html';">Cancel</button>
    </form>
</body>